@import '../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import 'base/base';
@import '../../node_modules/bourbon-neat/app/assets/stylesheets/neat';
@import 'variables';

body {
    background-color: #000;
    color: #fff;
}

h1 {
    font-size: 2em;
    margin: 1.3em;
}

.progression {
    @include outer-container;
    margin-top: 6em;

    .chord-container {
        @include span-columns(3);
        border: 1px solid;
        font-size: 2.5em;
        text-align: center;
        height: 5em;
        overflow: hidden;
        cursor: pointer;

        .hover-tile {
            @include transition(all, 0.2s ease-in-out);
            background: inherit;
            color: white;
            height: inherit;
            overflow: hidden;
            line-height: 5em;
        }

        .hover-tile-hidden {
            background: transparentize(#000, 0.5);

            p {
              font-size: 24px;
              line-height: 24px;
              margin-top: 36px;
            }

            h4 {
              margin: 0 0 0.5em 0;
            }
        }
    }

    .chord-container:hover > .hover-tile {
        @include transform(translate(0, -100%));
    }

    [data-chord-type="maj7"] {
        border-color: $orange;

        & .hover-tile-hidden {
            background: transparentize($orange, 0.8);
        }
    }

    [data-chord-type="m7"] {
        border-color: $blue;

        & .hover-tile-hidden {
            background: transparentize($blue, 0.8);
        }
    }

    [data-chord-type="maj7#11"] {
        border-color: $yellow;

        & .hover-tile-hidden {
            background: transparentize($yellow, 0.8);
        }
    }

    [data-chord-type="7sus4"] {
        border-color: $green;

        & .hover-tile-hidden {
            background: transparentize($green, 0.8);
        }
    }

    [data-chord-type="m7b5"] {
        border-color: $pink;

        & .hover-tile-hidden {
            background: transparentize($pink, 0.8);
        }
    }

    [data-chord-type="m7b13"] {
        border-color: $teal;

        & .hover-tile-hidden {
            background: transparentize($teal, 0.8);
        }
    }
}

.new-progression {
    display: block;
    margin: 4.5em auto 0 auto;
    background-color: transparent;
    border: 1px solid;
    outline: none;

    &:hover {
        border-color: $blue;
    }
}